# ignoring node modules
node_modules/



# removing lock files
*/package-lock.json
*/yarn.lock

# ignoring .txt files
*.txt

# ignoring json and jsonl files
*.json
*.jsonl


#ignoring image files
*.png
*.jpg 
*.jpeg

